<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>
  
  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

   <div><%= f.label :address %><br />
  <%= f.text_field :address %></div>

 

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  <h3>My Skills</h3>
  <%= f.fields_for :my_skills do |builder| %>
  <p>
  <%= builder.label :name, "Skill" %><br />
  <%= builder.text_area :name, :rows => 1 %><br />
    <%= builder.text_area :name, :rows => 1 %><br />

  <% end %>

  <h3>Desired Skills</h3>
  <%= f.fields_for :wanted_skills do |builder| %>
  <p>
  <%= builder.label :name, "Skill" %><br />
  <%= builder.text_area :name, :rows => 1 %><br />
    <%= builder.text_area :name, :rows => 1 %><br />
    <% end %>
  
</p>




  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
