<h3>Home</h3>
<% @users.each do |user| %>
  <p>User First Name: <%= user.first_name %> </p>
  <p>User Last Name:  <%= user.last_name %> </p>
  <p>Address:  <%= user.address %> </p>
  <p>Coordinates:  <%= user.coordinates %> </p>
<%= image_tag user.avatar.url %>



<% user.my_skills.each do |skill| %>
 	<p>Skill:<%= skill.name %></p>
      <% end %>  
<% user.wanted_skills.each do |dskill| %>
 	<p>Desired Skill:<%= dskill.sname %></p>
      <% end %>  



  </ br>
<% end %>
